<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>微笑</string>
	<key>2</key>
	<string>色色</string>
	<key>3</key>
	<string>嘻嘻</string>
	<key>4</key>
	<string>偷笑</string>
	<key>5</key>
	<string>害羞</string>
	<key>6</key>
	<string>大哭</string>
	<key>7</key>
	<string>流泪</string>
	<key>8</key>
	<string>耍酷</string>
	<key>9</key>
	<string>发怒</string>
	<key>10</key>
	<string>吃惊</string>
	<key>11</key>
	<string>疑问</string>
	<key>12</key>
	<string>好衰</string>
	<key>13</key>
	<string>吐舌</string>
	<key>14</key>
	<string>调皮</string>
	<key>15</key>
	<string>惊恐</string>
	<key>16</key>
	<string>睡觉</string>
	<key>17</key>
	<string>困乏</string>
	<key>18</key>
	<string>不屑</string>
	<key>19</key>
	<string>晕晕</string>
	<key>20</key>
	<string>悠闲</string>
	<key>21</key>
	<string>尴尬</string>
	<key>22</key>
	<string>脸红</string>
	<key>23</key>
	<string>安慰</string>
	<key>24</key>
	<string>闭嘴</string>
	<key>25</key>
	<string>狂吐</string>
	<key>26</key>
	<string>饥饿</string>
	<key>27</key>
	<string>鄙视</string>
	<key>28</key>
	<string>不爽</string>
	<key>29</key>
	<string>强大</string>
	<key>30</key>
	<string>胜利</string>
	<key>31</key>
	<string>弱爆</string>
	<key>32</key>
	<string>握手</string>
	<key>33</key>
	<string>勾引</string>
	<key>34</key>
	<string>爱你</string>
	<key>35</key>
	<string>抱拳</string>
	<key>36</key>
	<string>OK</string>
	<key>37</key>
	<string>便便</string>
	<key>38</key>
	<string>吃饭</string>
	<key>39</key>
	<string>爱心</string>
	<key>40</key>
	<string>心碎</string>
	<key>41</key>
	<string>咖啡</string>
	<key>42</key>
	<string>钱币</string>
	<key>43</key>
	<string>西瓜</string>
	<key>44</key>
	<string>吃药</string>
	<key>45</key>
	<string>内裤</string>
	<key>46</key>
	<string>内衣</string>
	<key>47</key>
	<string>强壮</string>
	<key>48</key>
	<string>猪头</string>
	<key>49</key>
	<string>玫瑰</string>
	<key>50</key>
	<string>凋谢</string>
	<key>51</key>
	<string>蛋糕</string>
	<key>52</key>
	<string>流汗</string>
	<key>53</key>
	<string>围观</string>
	<key>54</key>
	<string>夜晚</string>
	<key>55</key>
	<string>亲亲</string>
	<key>56</key>
	<string>礼物</string>
	<key>57</key>
	<string>憨笑</string>
	<key>58</key>
	<string>咧嘴</string>
	<key>59</key>
	<string>可爱</string>
	<key>60</key>
	<string>阴笑</string>
	<key>61</key>
	<string>捂嘴</string>
	<key>62</key>
	<string>气炸</string>
	<key>63</key>
	<string>呜呜</string>
	<key>64</key>
	<string>狂暴</string>
	<key>65</key>
	<string>好囧</string>
	<key>66</key>
	<string>惊吓</string>
	<key>67</key>
	<string>好色</string>
	<key>68</key>
	<string>飞吻</string>
	<key>69</key>
	<string>坏坏</string>
	<key>70</key>
	<string>捂眼</string>
	<key>71</key>
	<string>可怜</string>
	<key>72</key>
	<string>发呆</string>
	<key>73</key>
	<string>封嘴</string>
	<key>74</key>
	<string>叹气</string>
	<key>75</key>
	<string>鬼脸</string>
	<key>76</key>
	<string>委屈</string>
	<key>77</key>
	<string>抠鼻</string>
	<key>78</key>
	<string>吓尿</string>
	<key>79</key>
	<string>斜视</string>
	<key>80</key>
	<string>鄙视</string>
	<key>81</key>
	<string>敲打</string>
	<key>82</key>
	<string>晕乎</string>
	<key>83</key>
	<string>恶心</string>
	<key>84</key>
	<string>鼓掌</string>
</dict>
</plist>
