<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>微笑</key>
	<string>biaoqing001.png</string>
	<key>色色</key>
	<string>biaoqing002.png</string>
	<key>嘻嘻</key>
	<string>biaoqing003.png</string>
	<key>偷笑</key>
	<string>biaoqing004.png</string>
	<key>害羞</key>
	<string>biaoqing005.png</string>
	<key>大哭</key>
	<string>biaoqing006.png</string>
	<key>流泪</key>
	<string>biaoqing007.png</string>
	<key>耍酷</key>
	<string>biaoqing008.png</string>
	<key>发怒</key>
	<string>biaoqing009.png</string>
	<key>吃惊</key>
	<string>biaoqing010.png</string>
	<key>疑问</key>
	<string>biaoqing011.png</string>
	<key>好衰</key>
	<string>biaoqing012.png</string>
	<key>吐舌</key>
	<string>biaoqing013.png</string>
	<key>调皮</key>
	<string>biaoqing014.png</string>
	<key>惊恐</key>
	<string>biaoqing015.png</string>
	<key>睡觉</key>
	<string>biaoqing016.png</string>
	<key>困乏</key>
	<string>biaoqing017.png</string>
	<key>不屑</key>
	<string>biaoqing018.png</string>
	<key>晕晕</key>
	<string>biaoqing019.png</string>
	<key>悠闲</key>
	<string>biaoqing020.png</string>
	<key>尴尬</key>
	<string>biaoqing021.png</string>
	<key>脸红</key>
	<string>biaoqing022.png</string>
	<key>安慰</key>
	<string>biaoqing023.png</string>
	<key>闭嘴</key>
	<string>biaoqing024.png</string>
	<key>狂吐</key>
	<string>biaoqing025.png</string>
	<key>饥饿</key>
	<string>biaoqing026.png</string>
	<key>鄙视</key>
	<string>biaoqing027.png</string>
	<key>不爽</key>
	<string>biaoqing028.png</string>
	<key>强大</key>
	<string>biaoqing029.png</string>
	<key>胜利</key>
	<string>biaoqing030.png</string>
	<key>弱爆</key>
	<string>biaoqing031.png</string>
	<key>握手</key>
	<string>biaoqing032.png</string>
	<key>勾引</key>
	<string>biaoqing033.png</string>
	<key>爱你</key>
	<string>biaoqing034.png</string>
	<key>抱拳</key>
	<string>biaoqing035.png</string>
	<key>OK</key>
	<string>biaoqing036.png</string>
	<key>便便</key>
	<string>biaoqing037.png</string>
	<key>吃饭</key>
	<string>biaoqing038.png</string>
	<key>爱心</key>
	<string>biaoqing039.png</string>
	<key>心碎</key>
	<string>biaoqing040.png</string>
	<key>咖啡</key>
	<string>biaoqing041.png</string>
	<key>钱币</key>
	<string>biaoqing042.png</string>
	<key>西瓜</key>
	<string>biaoqing043.png</string>
	<key>吃药</key>
	<string>biaoqing044.png</string>
	<key>内裤</key>
	<string>biaoqing045.png</string>
	<key>内衣</key>
	<string>biaoqing046.png</string>
	<key>强壮</key>
	<string>biaoqing047.png</string>
	<key>猪头</key>
	<string>biaoqing048.png</string>
	<key>玫瑰</key>
	<string>biaoqing049.png</string>
	<key>凋谢</key>
	<string>biaoqing050.png</string>
	<key>蛋糕</key>
	<string>biaoqing051.png</string>
	<key>流汗</key>
	<string>biaoqing052.png</string>
	<key>围观</key>
	<string>biaoqing053.png</string>
	<key>夜晚</key>
	<string>biaoqing054.png</string>
	<key>亲亲</key>
	<string>biaoqing055.png</string>
	<key>礼物</key>
	<string>biaoqing056.png</string>
	<key>憨笑</key>
	<string>biaoqing057.png</string>
	<key>咧嘴</key>
	<string>biaoqing058.png</string>
	<key>可爱</key>
	<string>biaoqing059.png</string>
	<key>阴笑</key>
	<string>biaoqing060.png</string>
	<key>捂嘴</key>
	<string>biaoqing061.png</string>
	<key>气炸</key>
	<string>biaoqing062.png</string>
	<key>呜呜</key>
	<string>biaoqing063.png</string>
	<key>狂暴</key>
	<string>biaoqing064.png</string>
	<key>好囧</key>
	<string>biaoqing065.png</string>
	<key>惊吓</key>
	<string>biaoqing066.png</string>
	<key>好色</key>
	<string>biaoqing067.png</string>
	<key>飞吻</key>
	<string>biaoqing068.png</string>
	<key>坏坏</key>
	<string>biaoqing069.png</string>
	<key>捂眼</key>
	<string>biaoqing070.png</string>
	<key>可怜</key>
	<string>biaoqing071.png</string>
	<key>发呆</key>
	<string>biaoqing072.png</string>
	<key>封嘴</key>
	<string>biaoqing073.png</string>
	<key>叹气</key>
	<string>biaoqing074.png</string>
	<key>鬼脸</key>
	<string>biaoqing075.png</string>
	<key>委屈</key>
	<string>biaoqing076.png</string>
	<key>抠鼻</key>
	<string>biaoqing077.png</string>
	<key>吓尿</key>
	<string>biaoqing078.png</string>
	<key>斜视</key>
	<string>biaoqing079.png</string>
	<key>鄙视</key>
	<string>biaoqing080.png</string>
	<key>敲打</key>
	<string>biaoqing081.png</string>
	<key>晕乎</key>
	<string>biaoqing082.png</string>
	<key>恶心</key>
	<string>biaoqing083.png</string>
	<key>鼓掌</key>
	<string>biaoqing084.png</string>
</dict>
</plist>
